//The assignment said that the buttons should have only one class because that the buttons would inherit style from Bootstrap. 
//We were also supposed to edit the 'hoverstyle' of the butttons and since we were also supposed to use BEM, I added another class to the buttons.

.col-about{
	border: 2px solid $blue;
	padding: 15px;
	
	&--margin{
		@media(max-width:$BPmd){
			margin: 30px 0 30px 0;
		}
	}
	
	&__btn{
		&:hover{
			background-color: $green !important;
			color: $black;
		}
	}
} 