.navigation{
	background-color: $light-grey !important;
	font-weight: bold;
	padding: 15px;
	text-align: center;
	color: $black !important;
	font-family: $navigation;
	&:hover{
		color: $orange !important;
	}
	
	&__navbrand{
		font-family: $navbrand;
		color: $orange !important;
	}
	
	&__hamburger{
		background: none !important;
		border: none !important;
		&--white{
			background-color: $white !important;
		}
	}
	&__branding{
		font: 48px bold;
		padding: 0; 
		@media (max-width: $BPsm){
			padding: 12px;
			font: 20px bold;
		}
	}	
	&__active{
		color: $orange !important;
		border-bottom: 1px solid $orange;
	}
}