.homepageContainer{
	margin-top: 30px;
	&__row{
		margin-bottom: -15px;
	}
}

.col-home{
	border: 2px solid $orange;
	border-radius: 5px;
	padding: 15px;
	height: 100%;
	margin-top: 30px;
	font-family: $content;
	
	&--grey{
		color: $grey;
	}
	
	&__header{
		font-family: $headers;
		color: $orange;
		text-align: center;
		margin-bottom: 15px;
		@include fontsize(40);
	}
	
	&__header-two{
		font-family: $headerTwo;
		@include fontsize(28);
	}
	
	&__link{
		&:hover .col-home__overlay{
			transition: 0.3s;
			-webkit-filter: brightness(50%);
		}
	}
	
	&__overlay {
		&:hover{
			transition: 0.3s;
			-webkit-filter: brightness(50%);
		}
	}
	
	&__img-text{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $white;
		font-family: $headers;
		@include fontsize(50);
	}
}
