//imports
@import url('https://fonts.googleapis.com/css?family=Nunito');

//colors
$black: #000000;
$white: #ffffff;
$light-grey: #F5F5F5;
$blue: #00aeef;
$green: #07db61;
$red: red;
$grey: grey;
$orange: #fd5e53;

//breakpoint for mediaqueries
$BPsm: 767px;
$BPmd: 991px; 

//fonts
$navigation: 'Nunito', sans-serif;
