@import url("https://fonts.googleapis.com/css?family=Nunito");
h1 {
  font-size: 2.25rem; }

html {
  height: 100%; }

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative; }

body::after {
  content: '';
  display: block;
  height: 75px; }

.navigation {
  background-color: #F5F5F5 !important;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  color: #000000 !important;
  font-family: "Nunito", sans-serif; }
  .navigation:hover {
    color: #fd5e53 !important; }
  .navigation__hamburger {
    background: none !important;
    border: none !important; }
    .navigation__hamburger--white {
      background-color: #ffffff !important; }
  .navigation__branding {
    font: 48px bold;
    padding: 0; }
    @media (max-width: 767px) {
      .navigation__branding {
        padding: 12px;
        font: 20px bold; } }
  .navigation__active {
    color: #fd5e53 !important;
    border-bottom: 1px solid #fd5e53; }

.panel-footer {
  height: 75px;
  background-color: #F5F5F5;
  text-align: center;
  color: #000000;
  margin-top: 30px;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .panel-footer__copyright {
    padding-top: 25px;
    display: block; }

.col-about {
  border: 2px solid #00aeef;
  padding: 15px; }
  @media (max-width: 991px) {
    .col-about--margin {
      margin: 30px 0 30px 0; } }
  .col-about__btn:hover {
    background-color: #07db61 !important;
    color: #000000; }

.homepageContainer {
  margin-top: 30px; }

.row {
  margin-top: 30px; }

.col-home {
  border: 25px solid #00aeef;
  padding: 15px;
  height: 100%; }
  @media (max-width: 991px) {
    .col-home--margin {
      margin: 30px 0 0 0; } }
  .col-home__list {
    list-style: none;
    padding-left: 0;
    text-align: center; }
    .col-home__list li a {
      color: black;
      text-decoration: none; }
      .col-home__list li a:hover {
        color: #00aeef; }
    .col-home__list--active {
      text-decoration: underline; }

.contact-form {
  padding: 30px;
  margin: auto;
  color: #000000;
  width: 60%;
  border: 2px solid #fd5e53;
  border-radius: 5px;
  margin: 30px auto 30px auto; }
  .contact-form__input {
    height: 65px;
    font-size: 18px; }
    .contact-form__input--error {
      color: red; }
    .contact-form__input--required {
      color: red; }
    .contact-form__input--textarea {
      height: 150px !important; }
  .contact-form__info {
    color: grey; }
  .contact-form__btn {
    border: 2px solid #fd5e53;
    background-color: #fd5e53 !important;
    color: #ffffff;
    width: 250px;
    height: 65px;
    font-size: 20px; }
    .contact-form__btn:hover {
      border: 2px solid #fd5e53 !important;
      background-color: transparent !important;
      color: #000000; }
